Django==1.7
FormEncode==1.2.6
IMDbPY==5.0
SQLAlchemy==0.9.7
SQLObject==1.6.0
Tempita==0.5.2
argparse==1.2.1
beautifulsoup4==4.3.2
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.2.1
django-leaflet==0.14.1
gunicorn==19.1.1
sqlparse==0.1.12
static3==0.5.1
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
